<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>shailesh</title>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h2>Get the membership for 500 Rs. - Fill this form now!</h2>
        
        <form action="/contact" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="number" name="age" id="age" placeholder="Enter your age">        
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
