<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>shailesh</title>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/" exact="true">Home</a></li>
            
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h2>This is our HOME page!</h2>
       
</body>
</html>
